<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.python.pydev.debug.unittestLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:/Users/yf/Desktop/python/HelloWorld/src"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value=""/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:/Users/yf/Desktop/python/HelloWorld"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="HelloWorld"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="2"/>
</launchConfiguration>
